/* Deep List */
.deep-list-wrap{ padding-top: 10px; padding-bottom: 10px; }
.deep-list .deep-list-item{ position: relative; width: 100%; margin-bottom: 15px; overflow: hidden; }
.deep-list .deep-list-item .deep-cover{ width: 100%; position: relative; overflow: hidden; }
.deep-list .deep-list-item .deep-cover img{ width: 100%; }
.deep-list .deep-list-item .deep-cover .image-cover{ position: absolute; bottom: 0; height: 110px; width: 100%; background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));}
.deep-list .deep-list-item .deep-info{ position: absolute; bottom: 0; left:0 ; padding:20px 20px 40px 20px; z-index: 50; color: #fff;}
.deep-list .deep-list-item .deep-title{ font-size: 28px; line-height: 32px; max-height:64px; overflow: hidden; text-overflow: ellipsis;  font-family: PingFangSC-Medium; color: #fff; text-shadow: 0 1px 5px rgba(0,0,0,0.5); margin-bottom: 4px; }
.deep-list .deep-list-item .deep-describe{ font-size:14px; color: #fff; line-height: 20px; max-height: 40px; overflow: hidden; text-overflow: ellipsis; font-family: PingFangSC-Regular;}
@media only screen and (min-width:400px) {
	.deep-list .deep-list-item .deep-title{ font-size: 30px; line-height: 36px; max-height: 72px; }
	.deep-list .deep-list-item .deep-describe{ font-size: 16px; line-height: 22px; max-height: 44px; }
}

/*优化改版 2017-10-13*/
.six-content{background: #fff;}
.deep-list-ul{ display: block; overflow: hidden; padding-left: 15px; padding-top: 5px;}
.deep-list-ul .deep-list-item2{ float: left; display: block; width: 50%;}
.deep-list-ul .deep-list-item2 .deep-item-box{padding-right: 15px; padding-bottom: 30px; position: relative; overflow: hidden;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-image{ position: relative; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-image img{width: 100%;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-text{ padding-top: 15px;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-text .title{ font-size: 18px; font-weight: 700; color: #333333; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-text .sub-title{ height: 36px; font-size: 14px; line-height: 18px; color: #666666; overflow: hidden; text-overflow: ellipsis;}
.deep-list-ul .deep-list-item2 .deep-item-box .deep-text .deep-city{ font-size: 10px; color: #a8a8a8; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 8px;}
/*优化 2017-10-17*/

.deep-image-cover{position: absolute; bottom: 0; min-height: 30px; width: 100%; background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));}
.deep-image-cover .deep-city{ display: inline-block; width: 100%; padding:5px 10px; color: #fff; font-size: 12px; opacity: .85; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.deep-image-cover .deep-city:before{display: inline-block; content: ''; width: 7px; height: 11px; background: url(../img/i-dp-pin.png); background-size: cover; margin-right: 1px; }
.deep-list-ul .deep-list-item2 .deep-item-box .deep-text .sub-title{width: 90%;}














