/* 目的地页面改版 2017-08-15*/
.dt-body .six-content{ /* padding-bottom: 44px; */ }
.dt-content-wrap{ background: #fff; margin-bottom: 10px; }
.dt-content-wrap .dt-content-hd{ padding:0 15px; text-align: center; font-size: 14px; color: #666; font-weight: bold;}
.dt-content-wrap .dt-content-hd span{ display: inline-block; padding:15px; }
.dt-content-wrap .dt-content-hd .dt-bd-top{ display: block; border-top:1px solid #ededed; }
.dt-content-wrap .dt-content-more{padding:0 15px 15px 15px; text-align: center;}
.dt-content-wrap .dt-content-more .dt-more-link{ color: #57D07F; font-size: 14px; }
.dt-dest-list{ display: block; overflow: hidden; padding-left: 15px; }
.dt-dest-list .dt-dest-item{ float: left; display: block; width:33.333%;  }
.dt-dest-list .dt-dest-item .dt-dest-box{ padding-right: 15px; padding-bottom: 10px; position: relative; overflow: hidden; text-align: center; }
.dt-dest-list .dt-dest-item .dt-dest-img{ position: relative; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px;  }
.dt-dest-list .dt-dest-item .dt-dest-img img{ width: 100%; }
.dt-dest-list .dt-dest-item .dt-dest-name{ padding:10px 0; text-align: center; font-size: 14px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 300; }
.dt-bwan-list{ display: block; overflow: hidden; padding-left: 15px; }
.dt-bwan-list .dt-bwan-item{ float: left; display: block; width:50%;  }
.dt-bwan-list .dt-bwan-item .dt-bwan-box{ padding-right: 15px; padding-bottom: 10px; position: relative; overflow: hidden; text-align: center; }
.dt-bwan-list .dt-bwan-item .dt-bwan-img{ position: relative; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px;  }
.dt-bwan-list .dt-bwan-item .dt-bwan-img img{ width: 100%; }
.dt-bwan-list .dt-bwan-item .dt-bwan-img .dt-bwan-region{ position: absolute; left:0; top:0; padding:0 5px; height: 16px; line-height: 16px; background: rgba(0,0,0,0.35); font-size: 10px;font-weight: 300; color: #fff; text-align: center; }
.dt-bwan-list .dt-bwan-item .dt-bwan-name{ padding:10px 0 10px 5px; text-align: left; font-size: 14px;font-weight: 300; line-height: 20px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.bwan-container{padding-bottom: 20px;}
.dt-content-wrap .pagination {position: absolute;z-index: 20;bottom: 10px;width: 100%;text-align: center;right:0;}
.dt-content-wrap .swiper-pagination-bullet {display: inline-block;width: 6px;height: 6px;border-radius:3px;background:#ededed;margin: 0 2px;opacity: 0.8;cursor: pointer;}
.dt-content-wrap .swiper-pagination-bullet-active {background: #15c35a;}
.dt-tjtrip-ul{padding:0 15px;}
.dt-tjtrip-ul .tjtrip-li{ display: block; border-bottom: 1px solid #ededed; margin-bottom: 15px; }
.dt-tjtrip-ul .tjtrip-li a{color:inherit;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-img{ width: 100%; overflow: hidden; position: relative; -webkit-border-radius: 4px; border-radius: 4px;  }
.dt-tjtrip-ul .tjtrip-li .tjtrip-img img{ width: 100%; }
.dt-tjtrip-ul .tjtrip-li .tjtrip-btm{padding:10px 0; padding-right: 50px; position: relative;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-title{color: #333; font-size: 16px; line-height: 22px; text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-dest{color: #999; font-size: 12px; line-height: 20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-day{ display: inline-block; position: absolute; left:0; top: 10px; padding:0 5px; line-height: 24px; min-width: 40px; text-align: right; -webkit-border-radius:0 12px 12px 0; border-radius:0 12px 12px 0; background: rgba(0,0,0,.5); color: #fff; font-size: 12px; font-weight: 300; vertical-align: middle;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-day i{ font-size: 18px; vertical-align: middle;}
.dt-top{ height: 250px; position: relative; width: 100%;margin-bottom: 15px; }
.dt-top .dt-top-pic{ height: 250px; overflow: hidden; }
.dt-top .dt-top-pic img{ width: 100%; }
.dt-top .dt-top-mask{width: 100%; height: 100%; position: absolute;top:0; left: 0; z-index: 5; background: rgba(0,0,0,.5);}
.dt-top .dt-top-info{width: 100%; height: 100%; position: absolute;top:0; left: 0; z-index: 10; text-align: center; padding-top: 40px; }
.dt-top .dt-top-info .dt-top-pic-thumb{ width: 160px; height: 160px; margin:0 auto; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px; position: relative; }
.dt-top .dt-top-info .dt-top-pic-thumb img{ width: 100%; }
.dt-top .dt-top-info .dt-top-pic-thumb .dt-top-text{ width: 100%; position: absolute; left:0; right:0; bottom: 0; color: #fff; text-align: center; background: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));    background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));    box-sizing: border-box;    padding:15px 5px 5px 5px;}
.dt-top .dt-top-info .dt-top-pic-thumb .dt-top-text .text-title{  display: block;font-size: 28px; line-height: 36px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.dt-top .dt-top-info .dt-top-pic-thumb .dt-top-text .text-eng{ display: block; font-size: 12px; line-height: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 300;}
.dt-top-counts{ color: #fff; font-size: 14px; padding:10px; }
.dt-top-counts .dt-line{ font-size: 12px; font-weight: 300; margin:0 10px; }
.six-ft-btn{border:0 none;}
.dt-btn-submit{ display: block; width: 100%; height: 44px; line-height: 44px; background: #15c35a; color: #FFF;  text-align: center; font-size: 14px;}
.bwan-all{ background: #fff; }
.bwan-list-wrap{ padding-top: 15px; }
/* 更多目的地 2017-08-19 */
.dt-content{  overflow: hidden; padding-bottom: 0; -webkit-overflow-scrolling: touch; background: #fff;}
.dt-fullscreen{position: absolute; width: 100%; height: 100%; left:0; right:0; top: 0; bottom: 0;}
.dt-content .dt-col-left{ float: left; width: 25%; height: 100%; position: relative;background: #f2f2f2;  }
.dt-content .dt-col-right{ float: left; width: 75%; height: 100%; position: relative; }
.dt-content .dt-category-box{ display: block; }
.dt-content .dt-category-box .dt-category-item{font-size: 15px; font-weight: 400;}
.dt-content .dt-category-box .dt-category-tit{ display: block; line-height: 50px; width: 100%; overflow: hidden; font-size: 15px; text-align: center; white-space: nowrap; text-overflow: ellipsis; }
.dt-content .dt-category-box .dt-category-active .dt-category-tit{ background: #fff; color: #57D07F; }
.dt-content .dt-category-content{display: none; position: relative;}
.dt-cell-2 .dt-dest-item{ width: 50%; }
.dt-content .dt-category-content .dt-dest-list{ padding-top: 15px;}
.dt-content .dt-content-active{ display: block; }
@media screen and (max-width: 320px) {
	.dt-content .dt-category-box .dt-category-tit{ font-size: 13px; }
	.dt-dest-list .dt-dest-item .dt-dest-name{ font-size: 12px; }
}




