.dt-content-wrap{ background: #fff; margin-bottom: 10px; }
.dt-content-wrap .dt-content-hd{ padding:0 15px; text-align: center; font-size: 14px; color: #666; font-weight: bold;}
.dt-content-wrap .dt-content-hd span{ display: inline-block; padding:15px; }
.dt-content-wrap .dt-content-hd .dt-bd-top{ display: block; border-top:1px solid #ededed; }
.dt-content-wrap .dt-content-more{padding:0 15px 15px 15px; text-align: center;}
.dt-content-wrap .dt-content-more .dt-more-link{ color: #57D07F; font-size: 14px; }
.dt-dest-list{ display: block; overflow: hidden; padding-left: 10px; }
.dt-dest-list .dt-dest-item{ float: left; display: block; width:33.333%;  }
.dt-dest-list .dt-dest-item .dt-dest-box{ padding-right: 10px; padding-bottom: 10px; position: relative; overflow: hidden; text-align: center; }
.dt-dest-list .dt-dest-item .dt-dest-img{ position: relative; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px;  }
.dt-dest-list .dt-dest-item .dt-dest-img img{ width: 100%; }
.dt-dest-list .dt-dest-item .dt-dest-name{ padding:10px 0; text-align: center; font-size: 14px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 300; }
.dt-bwan-list{ display: block; overflow: hidden; padding-left: 10px; }
.dt-bwan-list .dt-bwan-item{ float: left; display: block; width:50%;  }
.dt-bwan-list .dt-bwan-item .dt-bwan-box{ padding-right: 10px; padding-bottom: 10px; position: relative; overflow: hidden; text-align: center; }
.dt-bwan-list .dt-bwan-item .dt-bwan-img{ position: relative; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px;  }
.dt-bwan-list .dt-bwan-item .dt-bwan-img img{ width: 100%; }
.dt-bwan-list .dt-bwan-item .dt-bwan-img .dt-bwan-region{ position: absolute; left:0; top:0; padding:0 5px; height: 16px; line-height: 16px; background: rgba(0,0,0,0.35); font-size: 10px;font-weight: 300; color: #fff; text-align: center; }
.dt-bwan-list .dt-bwan-item .dt-bwan-name{ padding:5px 0 5px 5px; text-align: left; font-size: 14px;font-weight: 300; line-height: 20px; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.bwan-container{padding-bottom: 20px;}
.dt-content-wrap .pagination {position: absolute;z-index: 20;bottom: 10px;width: 100%;text-align: center;right:0;}
.dt-content-wrap .swiper-pagination-bullet {display: inline-block;width: 6px;height: 6px;border-radius:3px;background: rgba(255,255,255,.65);margin: 0 2px;opacity: 0.8;cursor: pointer;}
.dt-content-wrap .swiper-pagination-bullet-active {background: #15c35a;}
.dt-tjtrip-ul{padding:0 15px;}
.dt-tjtrip-ul .tjtrip-li{ display: block; border-bottom: 1px solid #ededed; margin-bottom: 15px; }
.dt-tjtrip-ul .tjtrip-li a{color:inherit;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-img{ width: 100%; overflow: hidden; position: relative;  }
.dt-tjtrip-ul .tjtrip-li .tjtrip-img img{ width: 100%; }
.dt-tjtrip-ul .tjtrip-li .tjtrip-btm{padding:10px 0; padding-right: 50px; position: relative;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-title{color: #333; font-size: 16px; line-height: 22px; text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-dest{color: #999; font-size: 12px; line-height: 20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-day{ display: inline-block; position: absolute; left:0; top: 10px; padding:0 5px; line-height: 24px; min-width: 40px; text-align: right; -webkit-border-radius:0 12px 12px 0; border-radius:0 12px 12px 0; background: rgba(0,0,0,.5); color: #fff; font-size: 12px; font-weight: 300; vertical-align: middle;}
.dt-tjtrip-ul .tjtrip-li .tjtrip-day i{ font-size: 18px; vertical-align: middle;}



















