.dest-top-actions{ width: 100%; height: 110px; background: url(../img2/dest/dest-banner.jpg) center center no-repeat; background-size: cover; position: relative; text-align: center; margin-bottom: 10px; }
.dest-top-actions p{ width: 100%; position: absolute; left: 0; right: 0; top: 19%; text-align: center; color: #fff; font-size: 14px; }
.dest-top-actions .dest-actions{ width: 100%; display: table; padding:0 15px; position: absolute; bottom: 15%; left: 0; right: 0; text-align: center; }
.dest-top-actions .dest-actions div{ display: table-cell; padding:0 10px; }
.dest-top-actions .dest-actions .dest-actions-btn{ display: block; height: 30px; line-height: 30px; background: #fff; border-radius: 15px; text-align: center; vertical-align: middle; }
.dest-top-actions .dest-actions .dest-actions-btn span{ font-size: 13px; color: #666; vertical-align: middle; }
.dest-top-actions .dest-actions .dest-actions-btn i{ display: inline-block; width: 16px; height: 16px; margin-right: 5px; vertical-align: middle;  }
.dest-top-actions .dest-actions .dest-actions-btn .i-trip-sm{background: url(../img2/common-v2/i_menu-aitrip.png) center center no-repeat; background-size: 16px 16px;position: relative; top: -2px;}
.dest-top-actions .dest-actions .dest-actions-btn .i-consult-sm{background: url(../img2/common-v2/i_main_chat.png) center center no-repeat; background-size: 16px 16px;}
.hm-column{ background: #fff; margin-bottom: 10px; }
.hm-column .hm-col-title{ padding:10px 15px; text-align: center; font-size: 15px; line-height: 24px; color: #333; font-weight: 600; }
/* .desthot-slider-item .desthot-list{ display: block; padding:0 0 15px 15px; overflow: hidden;}  */
.desthot-slider-item .desthot-list .desthot-cell{ float: left; display:block; width: 33.3%; padding-right: 15px; }
.desthot-slider-item .desthot-list .desthot-cell a{ display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.desthot-slider-item .desthot-list .desthot-cell img{ width: 100%; max-width: 100%; height: auto; }
.desthot-slider-item .desthot-list .desthot-cell .desthot-name{ font-size: 13px; line-height: 16px; color: #333; margin-bottom: 2px; padding-top: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.desthot-slider-item .desthot-list .desthot-cell .desthot-counts{ font-size: 11px; line-height: 14px; color: #999;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.desthot-slider-indicator{ text-align: center; padding-bottom: 15px; }
.desthot-slider-indicator .slider-dot{ display: inline-block; width: 8px; height: 8px; background: #e5e5e5; border-radius: 4px; margin:0 2px; }
.desthot-slider-indicator .slider-dot.dot-active{background: #28d461;}
.desthot-more{border-top: 1px solid #ededed;}
.desthot-more .desthot-morelist{ padding-left:15px; padding-top: 15px; overflow: hidden; }
.desthot-more .desthot-morelist li{ display: inline-block; float: left; width: 25%; padding:0 15px 10px 0; }
.desthot-more .desthot-morelist li a{ display: block; height: 34px; line-height: 34px; position: relative; background: #f9f9f9; border-radius: 4px; font-size: 13px; text-align: center; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.desthot-more .desthot-morelist li .label-hot:after{ content: ''; display: inline-block; width: 17px; height: 8px; position: absolute; right:0; top:0; background: url(../img2/dest/label-hot.jpg) center center no-repeat; background-size: 17px 8px; }
.desthot-more-actions{text-align: center; padding-bottom: 15px; padding-top: 5px;}
.desthot-more-actions .desthot-more-link{ display: inline-block; height: 32px; min-width: 120px; padding:0 10px; line-height: 30px; border:1px solid #28d461; color: #28d461; border-radius: 16px; }
.tjtrip-list-ul{padding:0 15px;}
.tjtrip-list-ul .tjtrip-li{ display: block; border-bottom: 1px solid #ededed; margin-bottom: 15px; }
.tjtrip-list-ul .tjtrip-li:last-child{border-bottom: 0 none;}
.tjtrip-list-ul .tjtrip-li a{color:inherit;}
.tjtrip-list-ul .tjtrip-li .tjtrip-img{ width: 100%; height:180px; overflow: hidden; position: relative;  }
.tjtrip-list-ul .tjtrip-li .tjtrip-img img{position: absolute; top: 50%;left: 0; width: 100%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.tjtrip-list-ul .tjtrip-li .tjtrip-btm{padding:10px 0; padding-right: 50px; position: relative;}
.tjtrip-list-ul .tjtrip-li .tjtrip-title{color: #333; font-size: 16px; line-height: 22px; text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.tjtrip-list-ul .tjtrip-li .tjtrip-dest{color: #999; font-size: 12px; line-height: 20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.tjtrip-list-ul .tjtrip-li .tjtrip-day{ display: inline-block; position: absolute; right:0; top: 10px; color: #28d461; font-size: 12px; vertical-align: middle;}
.tjtrip-list-ul .tjtrip-li .tjtrip-day i{ font-size: 18px; vertical-align: middle;}
.dest-more-content{ background: #fff; }
.dest-item{}
.dest-item .dest-item-title{ padding:0 15px; position: relative; overflow: hidden; height: 50px; text-align: center; }
.dest-item .dest-item-title .line{ display: block; height: 1px;margin: 10px auto 14px; background: #ededed; width: 280px;}
.dest-item .dest-item-title span{ display: inline-block; min-width: 100px; position: absolute; background: #fff; font-size: 16px; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); top: 17px; padding: 0 10px; color: #28d461; }
.dest-item .dest-item-content{}
.dest-item .dest-item-top{}
.dest-item .dest-item-top .desthot-list{ display: block; padding:0 0 15px 15px; overflow: hidden;}
.dest-item .dest-item-top .desthot-list .desthot-cell{ float: left; display:block; width: 33.3%; padding-right: 15px; }
.dest-item .dest-item-top .desthot-list .desthot-cell a{ display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.dest-item .dest-item-top .desthot-list .desthot-cell img{ width: 100%; max-width: 100%; height: auto; }
.dest-item .dest-item-top .desthot-list .desthot-cell .desthot-name{ font-size: 13px; text-align: center; line-height: 16px; color: #333; margin-bottom: 2px; padding-top: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.dest-item-btm .desthot-morelist{ padding-left:15px; overflow: hidden; }
.dest-item-btm .desthot-morelist li{ display: inline-block; float: left; width: 25%; padding:0 15px 10px 0; }
.dest-item-btm .desthot-morelist li a{ display: block; height: 34px; line-height: 34px; position: relative; background: #f9f9f9; border-radius: 4px; font-size: 13px; text-align: center; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.dest-trip-top{ height: 110px; overflow: hidden; position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.dest-top-mask{ width: 100%; height: 110px; position: absolute; left: 0; right: 0; top:0; bottom: 0; background: rgba(0,0,0,.2); z-index: 5; }
.dest-country{ position: absolute; left: 15px; top:50%; margin-top: -25px;  text-align: left; color: #fff; z-index: 10;}
.dest-country h2{ font-size: 24px; font-weight: 700; margin-bottom: 5px; }
.dest-country .eng{ font-size: 14px; }
.dest-trip-num{ display: inline-block; position: absolute; right: 15px; top: 50%; margin-top: -28px; padding:10px; color: #fff; border:1px solid rgba(0,0,0,.4); background:rgba(0,0,0,.3); border-radius: 4px; text-align: center; font-size: 12px;  }
.dest-trip-num span{display: block; color: #28d461; font-size: 16px;}

.tjtrip-list-wrp{padding-top: 15px; background: #fff;}


/* Slider Swiper 20160804 */
.desthot-slider{padding:0 0 0 15px; height: 160px;}
.swiper-container { width: 100%; height: 100%;}
.swiper-container-horizontal>.swiper-pagination{ margin-left: -8px; }
.swiper-pagination-bullet{opacity: .1;}
.swiper-pagination-bullet-active{ opacity: 1;background: #28d461; }
@media only screen and (max-width:360px) {
	.desthot-slider{height: 150px;}
}
@media only screen and (max-width:320px) {
	.desthot-slider{height: 140px;}
}



